.sponge-text {
  font-family: "Lucida Console", "Courier New", monospace;
  color: lightseagreen;
}

.sponge-text2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: mediumseagreen;
}

.sponge-text3 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: coral;
}

.sponge-text4 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: whitesmoke;
}

.container {
  margin: auto;
  width: 60%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  z-index: 1;
  background: #080707;
  opacity: .9;
}

.body {
  background: url("../assets/bikinibottom.png");
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.gif1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.gif2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.video {
  width: 25em;
  height: 15em;
}
@media only screen and (max-width: 679px) {
  .video {
    width: 15em;
    height: 10em;
  }
}
@media only screen and (max-width: 550px) {
  .gif2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .video {
    width: 10em;
    height: 5em;
  }
}
