<div class="body">
  <div class="container">
    <div>
      <img class="gif1" src="assets/hikevin.gif" alt="this slowpoke moves">
    </div>
    <h3 style="text-align: center" class="sponge-text">{{spongebobText(one)}}</h3>
    <h4 style="text-align: center" class="sponge-text2">{{spongebobText(two)}}</h4>
    <div>
      <img class="gif2" src="assets/wawawa.gif" alt="this slowpoke moves">
    </div>

    <h5 style="text-align: center" class="sponge-text3">{{spongebobText(three)}}</h5>

    <iframe class="video" src="https://www.youtube.com/embed/mxj-yNVWheg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    <h6 style="text-align: center" class="sponge-text4">{{four}}</h6>

  </div>
</div>
